#Specific
archive/
standby/
data/z500_daily.mat
data/sst.mon.mean.trefadj.anom.detrend.1880to2018.nc
data/Temperature_2meters_monthly_ERAInterim.csv
data/BEST-1950-2018-monthlyTemp.nc
figures/

# General
.ipynb_checkpoints/
*.ipynb_checkpoints/
__pycache__/
*.ipynb_checkpoints
*.pyc
*.pyo


#Apple Stuff
.DS_Store
.DS_*
Icon

