#.gitignore
.ipynb_checkpoints/
others_code/
archive/
python_lecture_examples/
data/z500_daily.mat
data/sst.mon.mean.trefadj.anom.detrend.1880to2018.nc 
data/Temperature_2meters_monthly_ERAInterim.csv 
data/BEST-1950-2018-monthlyTemp.nc 

*DS_Store*


# how to send large files to .gitignore
#find . -size +2G | sed 's|^\./||g' | cat >> .gitignore
#find . -size +2G | cat >> .gitignore
