#.gitignore
.ipynb_checkpoints/
others_code/
archive/
python_lecture_examples/
jupyter_notebooks/data/z500_daily.mat
jupyter_notebooks/data/sst.mon.mean.trefadj.anom.detrend.1880to2018.nc 
jupyter_notebooks/data/Temperature_2meters_monthly_ERAInterim.csv 
jupyter_notebooks/data/BEST-1950-2018-monthlyTemp.nc 


# how to send large files to .gitignore
#find . -size +2G | sed 's|^\./||g' | cat >> .gitignore
#find . -size +2G | cat >> .gitignore
